body {
  background-color: #d3dcddab;
}

.titulos {
  font-size: 3em;
  text-align: center;
  text-shadow: -2px 6px 7px rgb(56, 44, 44);
  padding-top: 6%;
  padding-bottom: 2%;
}


/* Texto descripcion y logo */
.centrarContenidoLogo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.centrarContenidoDescrip{
display: flex;
text-align: center;
justify-content: center;
}

.centrarTexto {
font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-size: 30px;
max-width: 800px;
padding-top: 2%;
padding-bottom: 15px;
}

/* Carrousel */
.slide-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.image-slider {
  width: 100%;
  height: 600px;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .7s;
}

.slide-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
}

.img {
  position: relative;
  width: 240px;
  height: 370px;
  transition: .5s;
  filter: saturate(10%);
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: .5s;
  background-color: rgba(0, 0, 0, .4);
}

.button:hover {
  background-color: rgba(0, 0, 0, .2);
}

#slider-span1:target~.image-slider #img1,
#slider-span1:target~.image-slider #button-1 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span2:target~.image-slider #img2,
#slider-span2:target~.image-slider #button-2 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span3:target~.image-slider #img3,
#slider-span3:target~.image-slider #button-3 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span4:target~.image-slider #img4,
#slider-span4:target~.image-slider #button-4 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span5:target~.image-slider #img5,
#slider-span5:target~.image-slider #button-5 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span6:target~.image-slider #img6,
#slider-span6:target~.image-slider #button-6 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span1:target~.image-slider {
  left: 70%;
}

#slider-span2:target~.image-slider {
  left: 50%;
}

#slider-span3:target~.image-slider {
  left: 25%;
}

#slider-span5:target~.image-slider {
  left: -25%;
}

#slider-span6:target~.image-slider {
  left: -50%;
}
@keyframes carouselAnimation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  animation: carouselAnimation 10s linear infinite; /* 10s para 10 segundos, ajusta según sea necesario */
}


/* quienes somos */
/* .seccionQuienesSomos {
  background-color: #C0C0C0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(203,679,327)'%3E%3Cstop offset='0' stop-color='%23C0C0C0'/%3E%3Cstop offset='1' stop-color='%2327938A'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
} */

.h3QS{
  font-size: 1.2em;
}

.TituloQS {
  padding-top: 33px;
  margin-bottom: 30px;
  text-align: center;
  color: #0c1c61;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.div2 {
  width: 27%;
  padding: 20px;
  background: #fcd705;
  background: -webkit-radial-gradient(circle, #dfaa74 0%, #e5bb90 100%);
  background: radial-gradient(circle, #dfaa74 0%, #e5bb90 100%);
  text-align: center;
  box-shadow: 3px 3px 3px black;
  border-radius: 30px;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.div2:hover {
  transform: scale(1.1);
}

.div2 img {
  width: 150px;
  max-width: 100%;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.div2 h3 {
  margin: 0px;
}

.div2 p {
  margin: 10px;
}

/* Seccion libros */

/* Cards */
/* Estilo Texto */

.h1tituloLibros{
  text-align: center;
  color: #0c1c61;
  font-size: 35px;
}
/* 
.libroPublicado {
  background-color: #94E5DF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23C1FFC2'/%3E%3Cstop offset='1' stop-color='%2394E5DF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%234D5CE4' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234D5CE4' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.44'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
} */

.h1Libros {
  font-size: 25px;
  font-variant: small-caps;
}

.h1Libros:hover {
  scale: 115%;
  transition: 0.2s;
}

.h2Libros {
  font-size: 45px;
  color: white;
}

.parrafoLibros {
  font-size: 15px;
  font-style: oblique
}

.parrafoLibros:hover {
  scale: 115%;
  transition: 0.2s;

}


/* Estilo Imagenes */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

#myImg:hover {
  opacity: 0.85;
  box-shadow: 5px 5px;
  color: rgba(0, 0, 0, 0.083);
  scale: 115%;
  transition: 0.5s;
}

/* Fondo del Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  
}

/* Contenido del Modal */
.modal-content {
  margin: auto;
  display: block;
  width: 300px;
  height: 400px;
  max-width: 300px;
  max-height: 400px;

}

/* Caption del Modal */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  height: 150px;
}

/* Animacion */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
      -webkit-transform: scale(0)
  }

  to {
      -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
      transform: scale(0)
  }

  to {
      transform: scale(1)
  }
}

/* Boton Cerrar */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #ff0000;
  text-decoration: none;
  cursor: pointer;
  scale: 120%;
}

@media only screen and (max-width: 700px) {
  .modal-content {
      width: 100%;
  }
}


/* Contacto */

.parrafocontacto {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: large;
}

iframe {
  box-shadow: 2px 2px 3px 3px #00000094;
}

.h1Contacto {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  text-shadow: 2px 3px #e7e2e2;
  padding-top: 30px;
}

.mb-3 {
  font-size: 20px;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.mapa {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 20px;
}

.colContacto {
  margin-top: 20px;
  /* max-width: 100%;
  max-height: 100%; */
}

.btn {
  box-shadow: 1px 2px 2px 2px;
  height: 50px;
  width: 80px;
}

.textarea {
  height: 120px;
  min-height: 120px;
  max-height: 74px;
}

.navbarr{
  z-index: auto;
}
